.header {
  background-color: var(--clr-gray-200);
  color: var(--clr-blue-800);
  box-shadow: var(--bs-regular);
  padding: 2rem 0;
}

.dark-mode {
  background-color: var(--clr-blue-400);
  color: var(--clr-gray-200);
  transition: var(--tr-dark-mode);
}

.header > .container {
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.btn-dark-mode {
  display: flex;
  align-items: center;
}

.btn-dark-mode .icon {
  color: var(--clr-secondary);
  display: flex;
  align-items: center;
  font-size: 1.8em;
  margin-right: 0.4em;
}
