.header {
  box-shadow: var(--bs-regular);
  padding: 2rem 0;
}

.header > .container {
  display: flex;
  justify-content: space-between;
}

.btn-dark-mode {
  display: flex;
  align-items: center;
}

.btn-dark-mode > .icon {
  display: flex;
  align-items: center;
  font-size: 1.6em;
  margin-right: 0.2em;
}
