.dark-mode {
  background-color: var(--clr-blue-400);
  transition: var(--tr-dark-mode);
}

.country {
  box-shadow: var(--bs-regular);
  border-radius: 8px;
  overflow: hidden;
}

.flag {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.info {
  padding: 2em;
}

.info p {
  padding: 0.2em;
}

.name {
  font-size: var(--fs-big);
  margin-bottom: 0.5em;
}
