a {
  text-decoration: none;
  color: inherit;
}

.country {
  background-color: var(--clr-tertiary);
  box-shadow: var(--bs-regular);
  border-radius: 8px;
  overflow: hidden;
  height: 34rem;
}

.flag {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.info {
  padding: 2em;
}

.info p {
  padding: 0.2em;
}

.name {
  font-size: var(--fs-big);
  margin-bottom: 0.5em;
}
