.inputs {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
  font-size: var(--fs-big);
  font-weight: var(--fw-medium);
}

.search,
.select {
  border: var(--clr-gray-400);
  box-shadow: var(--bs-regular);
  padding: 0.5em 1em;
  border-radius: 5px;
}

.search {
  display: flex;
  width: 50rem;
}

.search .btn {
  padding: 0;
  display: flex;
  align-items: center;
}

.search .icon {
  margin-right: 0.5em;
}

.search input {
  width: 100%;
  padding: 0.3em;
}

.select {
  width: 20rem;
  color: var(--clr-gray-400);
}

.select option {
  font-size: var(--fs-big);
  padding: 1em;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 5em;
}
