<main class="home">
  <section class="inputs">
    <div class="search">
      <button (click)="onSearchBtnClick(searchInputEl)" class="btn">
        <mat-icon class="icon"> search </mat-icon>
      </button>
      <input
        (input)="onSearchChange($event)"
        type="text"
        placeholder="Search for a country..."
        [value]="searchInput"
        #searchInputEl
      />
    </div>
    <select
      (input)="onRegionSelect($event)"
      class="input select"
      name="region"
      id="region"
    >
      <option value="" disabled [selected]="!selectedRegion">
        Filter by Region
      </option>
      <option value="Africa">Africa</option>
      <option value="Americas">America</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
    </select>
  </section>
  <section class="countries">
    <app-country-card
      *ngFor="let country of countries"
      [country]="country"
    ></app-country-card>
  </section>
</main>
