.home {
  color: var(--clr-primary);
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
  font-size: var(--fs-big);
  font-weight: var(--fw-medium);
}

.search,
.select {
  background-color: var(--clr-tertiary);
  border: var(--clr-gray-400);
  box-shadow: var(--bs-regular);
  padding: 0.5em 1em;
  border-radius: 5px;
}

.search {
  display: flex;
  width: 50rem;
  margin-right: 1em;
}

.search .btn {
  padding: 0;
  display: flex;
  align-items: center;
}

.search .icon {
  margin-right: 0.5em;
}

.search input {
  background-color: inherit;
  color: inherit;
  width: 100%;
  padding: 0.3em;
}

.search input::placeholder {
  color: inherit;
}

.select {
  color: inherit;
  width: 20rem;
  cursor: pointer;
}

.select option {
  font-size: var(--fs-big);
  padding: 1em;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 5em;
}

/* Spinner loader */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  stroke: var(--clr-blue-400);
}

.spinner.dark-mode {
  stroke: var(--clr-gray-200);
  background-color: transparent;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: inherit;
}

@media screen and (max-width: 650px) {
  .inputs {
    flex-direction: column;
  }

  .search {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
  }
}
