<main class="home">
  <section class="inputs">
    <input
      class="input search"
      type="text"
      placeholder="Search for a country..."
    />
    <select class="input select" name="region" id="region">
      <option value="">Filter by Region</option>
      <option value="Africa">Africa</option>
      <option value="America">America</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
    </select>
  </section>
  <section class="countries">
    <app-country-card
      *ngFor="let country of allCountries"
      [country]="country"
    ></app-country-card>
  </section>
</main>
