@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* QUICK RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
select {
  font-family: inherit;
  font-size: inherit;
}

input {
  border: none;
  background-color: transparent;
}

select {
  cursor: pointer;
  background-color: transparent;
}

option {
  background-color: inherit;
  color: inherit;
}

/* CUSTOM PROPS */

html {
  font-size: 62.5%;
  /* Typography */
  --ff-nunito-sans: "Nunito Sans", sans-serif;
  --fs-regular: 1.4rem;
  --fs-big: 1.8rem;
  --fw-regular: 300;
  --fw-medium: 600;
  --fw-bold: 800;
  /* Colors */
  --clr-blue-400: hsl(209, 23%, 22%);
  --clr-blue-600: hsl(207, 26%, 17%);
  --clr-blue-800: hsl(200, 15%, 8%);
  --clr-gray-200: hsl(0, 0%, 98%);
  --clr-gray-400: hsl(0, 0%, 52%);
  --clr-white: hsl(0, 0%, 100%);
  /* Box Shadow */
  --bs-regular: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* Transitions */
  --tr-dark-mode: background-color 0.2s ease-out;
}

/* GENERAL */
body {
  --clr-primary: var(--clr-blue-800);
  --clr-secondary: var(--clr-gray-200);
  --clr-tertiary: var(--clr-gray-200);
  font-family: var(--ff-nunito-sans);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  background-color: var(--clr-gray-200);
  color: var(--clr-blue-800);
  overflow-y: scroll;
  transition: var(--tr-dark-mode);
}

.dark-mode {
  --clr-primary: var(--clr-gray-200);
  --clr-secondary: var(--clr-blue-600);
  --clr-tertiary: var(--clr-blue-400);
  background-color: var(--clr-blue-600);
  color: var(--clr-gray-200);
  transition: var(--tr-dark-mode);
}

button {
  color: inherit;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-weight: var(--fw-medium);
  cursor: pointer;
}

i {
  color: inherit;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-big);
}

/* LAYOUT */
.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 2em;
  padding-bottom: 4em;
}
